@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Share Tech Mono', monospace;
  background: repeating-radial-gradient(circle at 50% 50%, #0f172a 0px, #1e293b 400px, #0f172a 800px);
  color: #00ff99;
  letter-spacing: 1px;
}

.App {
  text-align: center;
  background: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
